
.DS_Store

Computer Graphics/triangle_reflection/.idea/

Computer Graphics/triangle_reflection/__pycache__/

Computer Graphics/.idea/

CV/.ipynb_checkpoints/

ML/.ipynb_checkpoints/

ML/Mezga_lab-1-pandas.zip

C#/Master's/AngryBirds/.idea/

C#/Master's/AngryBirds/bin/

C#/Master's/AngryBirds/obj/

C#/Master's/Billiards/.idea/

C#/Master's/Billiards/.vs/

C#/Master's/Billiards/bin/

C#/Master's/Billiards/obj/

C#/Master's/Percents/.vs/

C#/Master's/Percents/bin/

C#/Master's/Percents/obj/

C#/Master's/Percents/Properties/

Computer Vision/.ipynb_checkpoints/

Computer Vision/Lab-2-luminance-transformations/.ipynb_checkpoints/

Computer Vision/Lab-2-luminance-transformations/GFG.png
