
.DS_Store

Computer Graphics/triangle_reflection/.idea/

Computer Graphics/triangle_reflection/__pycache__/

Computer Graphics/.idea/

CV/.ipynb_checkpoints/

ML/.ipynb_checkpoints/

ML/Mezga_lab-1-pandas.zip
