
.DS_Store

Computer Graphics/triangle_reflection/.idea/

Computer Graphics/triangle_reflection/__pycache__/

Computer Graphics/.idea/

CV/.ipynb_checkpoints/

ML/.ipynb_checkpoints/

ML/Mezga_lab-1-pandas.zip

C#/Master's/AngryBirds/.idea/

C#/Master's/AngryBirds/bin/

C#/Master's/AngryBirds/obj/

C#/Master's/Billiards/.idea/

C#/Master's/Billiards/.vs/

C#/Master's/Billiards/bin/

C#/Master's/Billiards/obj/

C#/Master's/Percents/.vs/

C#/Master's/Percents/bin/

C#/Master's/Percents/obj/

C#/Master's/Percents/Properties/

Computer Vision/.ipynb_checkpoints/

Computer Vision/Lab-2-luminance-transformations/.ipynb_checkpoints/

Computer Vision/Lab-2-luminance-transformations/GFG.png

Cross-platform-programming/.idea/

Computer Vision/Lab-3-binarization-quantization/.ipynb_checkpoints/

Cross-platform-programming/Project/TaskbookProject

Cross-platform-programming/Project/ITaskbook

Cross-platform-programming/Project/ITaskbookTS

Cross-platform-programming/Project/react-native-elements-app

Cross-platform-programming/Project/HZ

Cross-platform-programming/Project/material-kit-react-native-master

Cross-platform-programming/Project/image-picker






Cross-platform-programming/Project/CalorieCounter/.expo-shared/

Cross-platform-programming/Project/CalorieCounter/.idea/

Cross-platform-programming/Project/react-native-action-sheet-master/
